/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}

/* GENERAL */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carosello{
    max-width: 1200px;
    background-color: #cecece;
    width: 100%;
    height: 65vh;
    position: relative;
}

.carosello > img {
    display: none;
}

.carosello > img.visible{
    display: block;
}

.btn{
    aspect-ratio: 1.5;
    border-radius: 50%;
    background-color: rgba(255, 248, 248, 0.548);
    padding: 1rem;
    border: none;
}

#avantiJs{
    position: absolute;
    top: 2%;
    right: 50%;
    transform: translate(-50% , 0);
}

#indietroJs{
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translate(-50% , 0);
}



